<!-- Footer -->
<footer class="py-4">
	<div class="container-fluid">
		<div class="row d-flex justify-content-between">
			<div class="col-3 d-flex justify-content-start">
				<!-- Links for other social media -->
				<a href="https://instagram.com/pencils_and_lens?igshid=qarhk8idf8gp" target="_blank" class="social_links"><img src="/images/insta.png"></a>
				<a href="https://www.facebook.com/pencils.and.lens/" target="_blank" class="social_links"><img src="/images/fb.png"></a>
				<a href="https://www.pinterest.com/pencilsandlens" target="_blank" class="social_links"><img src="/images/pinterest.png"></a>
			</div>
			<!-- Contact -->
			<div class="copyright col-3 d-none d-md-inline-block">Please feel free to reach me at<br><i class="far fa-envelope"></i> "pencils.and.lens@gmail.com"</div>
			<!-- Copyright -->
			<div class="copyright col-3"><small>&copy; Sourabh Kulkarni</small></div>
		</div>
	</div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.js"  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Send the current page data to frontend JS -->
<script>var currPage = <%-JSON.stringify(currPage)%>;</script>
<!-- Custom JavaScript -->
<% if (currPage != "") { %>
	<script src="/scripts/home.js"></script>
<% } %>
<% if (currPage == 'art' || currPage == 'image') { %>
	<script src="/scripts/galleries.js"></script>
<% } %>
<% if (currPage == 'order') { %>
	<script src="/scripts/order.js"></script>
<% } %>
</body>

</html>