<%- include("./partials/header") %>

<!-- Jumbotron -->
<div class="jumbotron">
	<div id="jumboName"><h1>Pencils & Lens</h1></div>
		<hr>
		<!-- <p class="lead">Recreating what you see, Capturing what you visualize.</p> -->
		<p class="lead">A visual journey through color, emotion, and perspective.</p>
</div>

<%- include("./partials/flash_msgs") %>

<!-- Cards and Contents -->
<div class="container-fluid">
	<div class="row d-flex justify-content-center">
		<a href="/art" class="col-7 col-lg-3">
			<div class="card text-white">
				<div id="sketchCard" class="card-img-overlay">
					<br><br>
					<p class="card-title"><i class="fa-solid fa-palette card-icon"></i></p>
					<h3 class="card-text">Strokes & Stories</h3>
					<!-- <p class="card-text">Perspective redefined, vision when put forth on paper shows it all.</p> -->
					<!-- <p class="card-text">A collection of thoughts, textures, and tones.</p> -->
				</div>
			</div>
		</a>
		<a href="/image" class="col-7 col-lg-3">
			<div class="card text-white">
				<div id="photoCard" class="card-img-overlay">
					<br><br>
					<p class="card-title"><i class="fa-solid fa-camera-retro card-icon"></i></p>
					<h3 class="card-text">Still Stories</h3>
					<!-- <p class="card-text">A sight captivates, frame captures.</p> -->
					<!-- <p class="card-text">Light, life, and everything in between.</p> -->
				</div>
			</div>
		</a>
		<a href="/portrait" class="col-7 col-lg-3">
			<div class="card text-white">
				<div id="portCard" class="card-img-overlay">
					<br><br>
					<p class="card-title"><i class="fa-solid fa-image-portrait card-icon"></i></p>
					<h3 class="card-text">Expressions in Pencil</h3>
					<!-- <p class="card-text">Beauty lies in the eyes of the beholder.</p> -->
					<!-- <p class="card-text">Shaded with emotion, shaped by connection.</p> -->
				</div>
			</div>
		</a>
		<a href="/order" class="col-7 col-lg-9">
			<div id="gift" class="card text-white">
				<div id="giftCard" class="card-img-overlay">
					<p class="card-title"><i class="fa-solid fa-gifts card-icon"></i></p>
					<h3 class="card-text">Custom Creations</h3>
					<!-- <p class="card-text">Memories when put forth in black and white refresh the connect.<br> Gift them the worthwhile shades with the tinge of gesture.</p> -->
					<!-- <p class="card-text">Art that begins with your idea.</p> -->
				</div>
			</div>
		</a>
	</div>
</div>



<!-- <div>
    <a class="popupButton" href="#popup">Let me Pop up</a>
</div>

<!-- Popup Banner -->
<!-- <div id="popup" class="overlay">
    <div class="popup">
        <h2>Wishing you a very</h2>
        <a class="close" href="#">&times;</a>
        <div class="popupContent">
			<img src="/images/newYear.png" width="100%">
			<em><strong>" May this year bring new happiness, new goals, new achievements and a lot of new inspirations on your life.<br>Wishing you a year fully loaded with happiness. "</strong></em>
        </div>
    </div>
</div> -->

<%- include("./partials/footer") %>
