<%- include("./partials/header") %>

<!-- Jumbotron -->
<div class="jumbotron">
	<div id="jumboName"><h1>Pencils & Lens</h1></div>
		<hr>
		<p class="lead d-none d-md-inline-block">A world of art and perspective.</p>
</div>

<%- include("./partials/flash_msgs") %>

<!-- Cards and Contents -->
<div class="container-fluid">
	<div class="row d-flex justify-content-center">
		<a href="/art" class="col-7 col-lg-3">
			<div class="card text-white">
				<div id="sketchCard" class="card-img-overlay">
					<h5 class="card-title">Sketch Gallery</h5>
					<p class="card-text">Perspective redefined, vision when put forth on paper shows it all.</p>
				</div>
			</div>
		</a>
		<a href="/image" class="col-7 col-lg-3">
			<div class="card text-white">
				<div id="photoCard" class="card-img-overlay">
					<h5 class="card-title">Photo Studio</h5>
					<p class="card-text">A sight captivates, frame captures.</p>
				</div>
			</div>
		</a>
		<a href="/order" class="col-7 col-lg-3">
			<div class="card text-white">
				<div id="giftCard" class="card-img-overlay">
					<h5 class="card-title">Gift a Sketch</h5>
					<p class="card-text">Memories when put forth in black and white refresh the connect. Gift them the worthwhile shades with the tinge of gesture.</p>
				</div>
			</div>
		</a>
	</div>
</div>


<div>
    <a class="popupButton" href="#popup">Let me Pop up</a>
</div>

<div id="popup" class="overlay">
    <div class="popup">
        <h2>Wishing you a very</h2>
        <a class="close" href="/">&times;</a>
        <div class="popupContent">
			<img src="/images/newYear.png" width="100%">
			<em><strong>May this year bring new happiness, new goals, new achievements and a lot of new inspirations on your life.<br>Wishing you a year fully loaded with happiness.</strong></em>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
