<%- include("./partials/header") %>
<!-- Jumbotron -->
<div class="jumbotron">
	<div id="jumboName">
		<h1>Commissions</h1>
	</div>
	<hr><br>
	<p class="lead">Art that begins with your idea.</p>
</div>

<%- include("./partials/flash_msgs") %>

<!-- Contents -->
<div class="container-fluid">
	<!-- Tabs -->
	<div class="row d-flex justify-content-around">
		<div class="tabs col-8 col-lg-5">My works<hr></div>
		<div class="tabs col-8 col-lg-5 d-none d-lg-block">Get Quote<hr></div>
	</div>
	<div class="row d-flex justify-content-around">
		<!-- Image slideshow -->
		<div id="imageDisplay" class="col-8 col-lg-5"></div>
		<div class="tabs col-8 d-block d-lg-none mt-5">Get Quote<hr></div>
		<!-- Form -->
		<div class="col-8 col-lg-5">
			<form action='/order/quote' method='POST' enctype="multipart/form-data">
				<div class="form-group">
					<label for="nameinput">Name: </label>
					<input type="text" class="form-control" id="nameinput" name='name' required>
				</div>
				<br>
				<div class="form-group">
					<label for="emailinput">E-mail: </label>
					<input type="email" class="form-control" id="emailinput" placeholder="name@example.com" name='email' required>
				</div>
				<br>
				<div class="form-group">
					<label for="phnumber">Contact No: </label>
					<input type="tel" class="form-control" id="phnumber" name='num' pattern="^\+?[1-9]\d{1,14}$" placeholder="+xx-xxx...">
				</div>
				<br>
				<div class="form-group">
					<label for="textAreaInput">Reference Picture: </label>
					<div class="custom-file">
						<input name='file' type="file" class="custom-file-input" id="uploadfile" aria-describedby="inputGroupFileAddon04">
						<label class="custom-file-label" for="uploadfile">Choose a file</label>
				  	</div>
				</div>	
				<br>
				<div class="form-group">
					<label for="textAreaInput">Request Description: </label>
					<textarea class="form-control" id="textareainput" name='remarks' rows="3" placeholder="Please describe your request"></textarea>
				</div>
				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-lg btn-outline-success form-group"><i class="fas fa-check"></i>  Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Send the link array for slideshow to frontend JS -->
<script>var link_arr = <%-JSON.stringify(link_arr)%>;</script>
<%- include("./partials/footer") %>